.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

        body{
                width: 1600px;
                    height: 2534px;
                    

        }



.title{
    display: flex;
   
    justify-content: center

}
.upper-part{
    background-color: #161616;;
        border-radius: 30px;
        margin: 30px 139px 168px 130px;
}
.left-side{
               padding:   ;

}
.slogan{

    width: 531px;
    color: #FFF;
        font-family: Poppins;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        margin: ;
}
p{

    width: 506px;
    color: #FFF;
       
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 26px;
        margin-bottom: 46px;
       
}
.player-image{

    width: 581px;
        height: 613px;
        flex-shrink: 0;
       
}
.image{

            padding-top: 33px;
            padding-left: 25px;


}
.live{

    border-radius: 5px;
        background: #D00;
        color: #FFF;
            text-align: center;
            font-family: HelveticaNeue;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            padding:16px 25px 16px 25px;
            text-decoration: none;
}
    .sec-half {
        background-color: border-radius: 10px;
            background: #161616;;
            width: 312px;
                height: 398px;
               
                border-radius: 10px;
                    background: #161616;
                    padding-top: 20px;
                    margin-left: 120px;
                  
                }   
    .rectangle-11{
                    border-radius: 10px;
                        background: #FFF;
                        width: 200px;
                            height: 64px;
                        
                            margin: 30px;
                            padding: 12px 15px 12px 15px ;
                       


    } 
    .rectangle{

        text-align: center;
        
    }
    .rectangle-12{

        width: 200px;
            height: 64px;
            border-radius: 10px;
                background: #FFF;
                margin: 30px;
                padding: 12px 15px 12px 15px;
    }
    .rectangle-14{

                width: 200px;
                    height: 64px;
                    flex-shrink: 0;
                    border-radius: 10px;
                        background: #D00;
                        margin: 30px;
                        padding: 12px 15px 12px 15px;

    }
    .flex{
        display: grid;
       grid-template-columns: repeat(4,1fr);
        gap:33px;
       

                 
    }
 .blogs a{
    
        text-decoration: none;
        width: 100px;
            height: 32px;
            border-radius: 5px;
                border: 1px solid #161616;
                color: #161616;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding:1px 10px;

 }
 .thumblin{

    width: 312px;
        height: 175px;
        flex-shrink: 0;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 15px;
 }
 .icons{

    gap: 10px;
        display: flex;
        justify-content: space-between;
 }